/katas.pokedex/obj
/katas.pokedex/bin
/katas.pokedex.services/obj
/katas.pokedex.services/bin
/katas.pokedex.webapi/obj
/katas.pokedex.webapi/bin
/.vs
/katas.pokedex.migrations/bin
/katas.pokedex.migrations/obj
/katas.pokedex.repositories/obj
/katas.pokedex.repositories/bin
